/* 
    Document   : cheque_form
    Created on : 2 Mar, 2023, 6:29:44 PM
    Author     : lenovo1
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.c
{
    background-image:url(images/OIP.png);
    background-size: cover;
}
.whitediv
{
    height: 400px;
    width: 500px;
    background-color: transparent;
    margin-left: 1280px;
    margin-top: 450px;
}
.textbox
{
    height: 45px;
    width: 220px;
    background-color:whitesmoke;
    color: black;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 25px;
    border-top: none;
    border-left: none;
    border-right: none;

}
.h1
{
    font-size: 30px;
    margin-left:70px; 
    color: darkviolet;
    font-style: italic;
}
.h{
    font-size: 25px;
    margin-top: 25px;
    color: black;
}
.loginbutton
{
    margin-left: 50px;
    margin-top: 30px;
    height: 45px;
    width: 150px;
    font-size: 18px;
    border-radius: 23px;
    background-color:skyblue;
    color:black;
}
.loginbutton:hover
{
    margin-left: 50px;
    margin-top: 30px;
    height: 40px;
    width: 150px;
    border-radius: 23px;
    background-color: yellow;
    color: black;
}
.cancelbutton
{
    margin-left: 50px;
    margin-top: 30px;
    height: 45px;
    width: 150px;
    font-size: 18px;
    border-radius: 23px;
    background-color: red;
    color: whitesmoke;
}
.cancelbutton:hover
{
    margin-left: 50px;
    margin-top: 30px;
    height: 40px;
    width: 150px;
    border-radius: 23px;
    background-color: yellow;
    color:black;
}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: whitesmoke;
  font-size: 18px;
}


h2,
h3,
a {
	color:whitesmoke;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: whitesmoke;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: transparent;
        color: whitesmoke;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
